<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

	<Fragment>
		<ComplianceCheck>
			<RegistrySearch Root="HKLM"
							Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft .NET Runtime - 8.0.19 (x64)"
							Type="raw" />
		</ComplianceCheck>
	</Fragment>

	<Bundle Name="$(var.ProductName)"
			Version="$(var.ProductVersion)"
			Manufacturer="$(var.Manufacturer)"
			IconSourceFile="$(var.ProjectDir)Assets\AdvTechLogo.ico"
			UpgradeCode="E578E12A-E636-4712-9AA7-3D58501EE7C4"
			Copyright="Copyright © 2025 Advantage Technologies"
			Compressed="yes">

		<BootstrapperApplication>
			<bal:WixStandardBootstrapperApplication
				  Theme="rtfLicense"
				  LicenseFile="$(var.ProjectDir)\Assets\license.rtf"
				  LogoFile="$(var.ProjectDir)Assets\AdvTechLogo.ico"
				  LogoSideFile="$(var.ProjectDir)Assets\AdvTechLogo.ico"
				  ShowVersion="yes" />
		</BootstrapperApplication>

		<Chain>
			<ExePackage Id="InstallPfxCert"
						Vital="yes"
						PerMachine="yes"
						Cache="keep"
						Permanent="yes"
						SourceFile="Assets\InstallCert.exe" />

			<ExePackage Id="dotnetDesktopRuntime"
						Vital="yes"
						PerMachine="yes"
						InstallCondition="NOT (RegistrySearchResult)"
						Permanent="yes"
						Cache="keep"
						InstallArguments="/install /quiet /norestart"
						SourceFile="Assets\windowsdesktop-runtime-8.0.19-win-x64.exe" />

			<MsiPackage SourceFile="$(var.MainMSIPath)" Vital="yes" />
		</Chain>

	</Bundle>
</Wix>