<?xml version="1.0"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	
	<Fragment>
		<Property Id="NETDESKTOP80">
			<RegistrySearch Id="dotnet8search"
							Root="HKLM"
							Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
							Type="directory"
							Name="Path" />
		</Property>
	</Fragment>
	
	<Bundle Name="$(var.ProductName)"
        Version="$(var.ProductVersion)"
        Manufacturer="$(var.Manufacturer)"
        IconSourceFile="Assets\AdvTechLogo.ico"
        UpgradeCode="E578E12A-E636-4712-9AA7-3D58501EE7C4"
        Compressed="yes">

		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />
		
		<Chain>			
			<ExePackage Id="InstallPfxCert"
						Vital="yes"
						PerMachine="yes"
						DetectCondition="false"
						Cache="keep"
						Permanent="yes">
				<Payload SourceFile="Assets\InstallCert.exe"/>
			</ExePackage>

			<ExePackage Id="dotnetDesktopRuntime"
						Vital="yes"
						PerMachine="yes"
						DetectCondition="NETDESKTOP80"
						Permanent="yes"
						InstallArguments="/norestart">
				<Payload SourceFile="Assets\WindowsDesktop-Runtime-8.0.19-win-x64.exe" />
			</ExePackage>

			<MsiPackage SourceFile="$(var.MainMSIPath)" Vital="yes" />
		</Chain>
	</Bundle>
</Wix>